* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #e0e0e0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff6600;
}

form {
    margin-bottom: 40px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #e0e0e0;
}

form input[type="text"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
}

form input[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form input[type="submit"]:hover {
    background-color: #e65c00;
    transform: scale(1.05);
}

.file-list {
    list-style: none;
    padding: 0;
}

.file-list li {
    padding: 10px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-list li:last-child {
    border-bottom: none;
}

.file-list li:hover {
    background-color: #333;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 1000;
}

.context-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.context-menu ul li {
    padding: 10px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #333;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    form input[type="text"],
    form input[type="file"],
    form input[type="submit"] {
        width: 100%;
        margin-bottom: 15px;
    }

    .file-list li {
        flex-direction: column;
        align-items: flex-start;
    }
}
